/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/10/2017, 10:57:18 AM
    Author     : KoalaZCooL
*/
body{
	margin: 0 auto;
}
.half{
	width: 50%;
}
.left{
	float: left;
}
.right{
	float: right;
}
.clear{
	clear: both;
}
.bg_green{
	background-color: #b3d043;
}
.bg_white{
	background-color: white;
}

#top_home_tinted{
  width: 100%;
  height: 640px;
  background:
		linear-gradient(       rgba(44, 44, 44, 0.7),        rgba(44, 44, 44, 0.7)     ), 
		url(WeChat.png) no-repeat,
		linear-gradient(       rgba(0, 0, 0, 0.7),        rgba(0, 0, 0, 0.7)     );
  background-size: cover;
  background-position: top -80px left 0;
  border-radius: 70px;
}
#wave_header{
	max-width: 100%;
	height: 170px;
	margin-top: -160px;
}

#home_img_shop{
	width: 170px;
	height: 140px;
	margin-top: 50px;
	background: url(shop.jpg) no-repeat;
	background-size: cover;
	background-position: top -20px left 0;
	border: 3px solid #b3d043;
	-webkit-border-radius: 70px;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius: 70px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomright: 20px;
	border-radius: 70px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
#home_img_shanghai{
	width: 270px;
	height: 220px;
	margin-left: -40px;
	background: url(shanghai.jpg) no-repeat;
	background-size: cover;
	/* background-position: top -80px left 0; */
	border: 3px solid #b3d043;
	-webkit-border-radius: 40px;
	-webkit-border-top-left-radius: 110px;
	-webkit-border-bottom-right-radius: 110px;
	-moz-border-radius: 40px;
	-moz-border-radius-topleft: 110px;
	-moz-border-radius-bottomright: 110px;
	border-radius: 40px;
	border-top-left-radius: 110px;
	border-bottom-right-radius: 110px;
}

.content_body{
	max-width: 960px;
	margin: 0 auto;
}

.wave_secdiv{
	max-width: 20%;
}

.txt_left{
	text-align: left;
}

.rni_box{
	margin: 0 105px;
	width: 110px;
}
.rni_circle{
	width: 110px;
	height: 110px;
	border: 1px solid #b3d043;
	border-radius: 60px;
}

.rni_txt{
	
}

.bg_wave{
	
}

#dj_partners_bg{
	background: 
		url(wave_1.png) bottom 270px center / 100% 400px no-repeat;
}

#dj_partners{
	height: 440px;
	background-size: cover;
	background:
		url(wave_2.png) bottom center / 100% 270px no-repeat,
		url(partners.png) center / 100%  no-repeat,
		linear-gradient(rgba(0,0,0, 0.1), rgba(0,0,0, 0.1)),
		linear-gradient(rgba(178, 210, 53, 0.9), rgba(178, 210, 53, 0.9))
	;
}

.letstalk_box{
	width: 270px;
	margin: 0 25px;
}

.wechat_mkt_box{
	width: 430px;
	margin: 0 25px;
}

.letstalk_box img, .wechat_mkt_box img{
	width: 100%;
}

#dj_letstalk_bg{
	height: 200px;
	background: url(wave_1.png) bottom -100px right / auto 300px no-repeat;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

#wechat_marketing_bg{
	color:white;
	background:
		linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0, 0.6)),
		url(wave_1.png) center left no-repeat
	;
}

.case_study_clientslogo{
	border: 2px solid #b3d043;
	border-radius: 60px;
}